body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}

.movie-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.movie-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  padding: 10px 0;
}

.movie-list-container {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.movie-item {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
}
.movie-title {
  color: white;
}

.image-container {
  position: relative;
  transition: ease 0.5s;
}

.image-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  width: 100%;
  transition: ease 0.5s;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
